html,
body {
  height: 100%;
  background-size: contain;
  font-family: 'Do Hyeon', sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: 'Do Hyeon', sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 10px;
  font-size: 16px;
}


/* 테이블 글자 가운데 정렬 */
table, td, th {
  border : 1px solid black;
  border-collapse : collapse;
  text-align: center
}
table {
  width : 300px;
  height : 200px;
  text-align: center
}
th, td {
  text-align: center;
}
